<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GalleryHop</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js">
</script>


		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	</head>
	<body>
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gallery Hop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://github.com/mdiscenza/twitter_map">About</a></li>
  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div id="map" style="width: 600px; height: 400px"></div>

  <script>


    var map = L.map('map').setView([40.7403, -73.9897], 12);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
      maxZoom: 18,
      minZoom: 12,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'examples.map-i875mjb7'
    }).addTo(map);
</script>



		<div id="gh">


		</div>

		<script type="text/template" id="opening-template">
			<div class="gallery">
				<p><%- event_title %></p>
				<p><%- artist%></p>
				<p><%- venue %></p>
				<p><%- date_and_time %></p>
			</div>
		</script>
		
		<script src="js/models/todo.js"></script>
		<script src="js/models/opening.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/collections/openings.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/opening-view.js"></script>
		<script src="js/views/openings-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
        <script>
        $(function(){
            app.todos.url = '{{ url_for("todo_create") }}';
            app.todos.reset({{ todos | tojson }});
        });
        </script>
	</body>
</html>
