{% extends "base.html" %}
	{% block body %}
<div id="map"></div>

  <script>


    var map = L.map('map').setView([40.7403, -73.9897], 13);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
      maxZoom: 18,
      minZoom: 12,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'examples.map-i875mjb7'
    }).addTo(map);
</script>

<script>

  {% for op in events %}
  try {
  var text = '<b>{{op.artist}}</b>'.concat('<br>{{op.gallery}}');
    L.marker([{{op.lat}}, {{op.long}}]).addTo(map)
      .bindPopup(text).openPopup();
  }
  catch (e){
    alert("Error");
  }
 {% endfor %}
</script>



<script>

    var popup = L.popup();

    function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    }

    map.on('click', onMapClick);

  </script>



		<div id="gh">


		</div>


		<script type="text/template" id="opening-template">
			<div class="gallery">
				<h4><%- artist %></h4>
				<h5><%- gallery%></h5>
				<p><%- address %></p>
				<p><%- date %></p>
			</div>

		</script>



		
		<script src="js/models/opening.js"></script>
		<script src="js/collections/openings.js"></script>
		<script src="js/views/opening-view.js"></script>
		<script src="js/views/openings-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
{% endblock %}