
div#map{
	width: 70%; 
	height: 500px; 
	right:0; 
	left:0;
  float:  left;
}

div#gh{
  float: right;
  width: 30%;
  text-align: left;
  height: 500px;
  overflow: scroll;
  padding-left:10px;
}

div#form{
	width:50%;
	margin: 0 auto;
}

div.gallery{

  border-left: solid;
  border-color: #939393;

}

div.gallery{
  background-color: #ECF0F1 ;
  border-radius: 5px;
  padding-top: 4px;
  border-width-left:10px;   

}

div.gallery:hover{
	background-color: #BDC3C7;
}

div.gallery-container{
  padding: 5px;
  line-height: 0.5;

}

h5{
  margin: 0;  
}

h4{
  margin: 0;  
}

p{
  margin: 0;  
}
