
div#map{
	width: 60%; 
	height: 500px; 
	right:0; 
	left:0;
  float:  left;
}

div#gh{
  float: right;
  width: 40%;
  text-align: left;
  height: 500px;
  overflow: scroll;
}

div#form{
	width:50%;
	margin: 0 auto;
}