{% extends "layout.html" %}
{% block body %}

<style type="text/css">
  #map
  {
   width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
  }


  #recent_tweets
  {
   width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    height:250px;
  }

  #time0
  {
   width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
    font-size: small;
    color: #606060;

  }
  #time1
  {
   width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
    font-size: small;
    color: #606060;

  }
  #time2
  {
   width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
    font-size: small;
    color: #606060;

  }
  #root
  {
      width:100%;
      margin:0 auto;
      padding-left:20%;
      padding-right:5%;
  }

  #map1
  {
      border-style: solid;
      border-width: 1px;
      width:40%;
      float:left;
      text-align:center;
      padding-right:10%;

  }
  #map2
  {
      border-style: solid;
      border-width: 1px;
      width:40%;
      float:left;
      text-align:center;
      padding-left:10%;
  }

  #cap1
  {
      border-style: solid;
      border-width: 1px;
      width:40%;
      float:left;
      text-align:center;

      text-align: center;

  }
  #cap2
  {
      border-style: solid;
      border-width: 1px;
      width:40%;
      float:left;
      text-align:center;

      text-align: center;
  }
</style>





<script>
var points_pos = '{{ points_pos }}';
points_pos = eval(points_pos);
var points_neg = '{{ points_neg }}';
points_neg = eval(points_neg);
var tweets = [];
var locations = [];
var ids = [];
var update = 0;
var times = []
//var original_tweets = eval('{{tweets}}');
{% for tweet in tweets %}
  tweets.push('{{tweet.text}}');
  locations.push('{{tweet.lat_long}}');
  ids.push('{{tweet.tweet_id}}');
  times.push('{{tweet.tweet_time}}');
{% endfor %}

window.onload = function() {
    $('#tweet0').html(tweets[0]);
    $('#tweet1').html(tweets[1]);
    $('#tweet2').html(tweets[2]);
    $('#time0').html(times[0]);
    $('#time1').html(times[1]);
    $('#time2').html(times[2]);
};


 setInterval( function check_for_update() {
  console.log("checking for update")
  $.ajax({
    url: "/new",
    type: "POST",
    data: JSON.stringify(update),
    contentType: "application/json; charset=utf-8",
        success: function(result) {
          if(result.result==false){
            //do nothing
            console.log(result)
          }
          else{
            console.log(result)
            update2 = result;
            $('#tweet0').html(update2.result[0].text);
            $('#tweet1').html(update2.result[1].text);
            $('#tweet2').html(update2.result[2].text);
            $('#time0').html(update2.result[0].time);
            $('#time1').html(update2.result[1].time);
            $('#time2').html(update2.result[2].time);

            tweets[0] = update2.result[0].text;
            tweets[1] = update2.result[1].text;
            tweets[2] = update2.result[2].text;
            update = update2.result[3].text;
          }
        ;
    }
})}, 5000);




  // $.post('/new', {
  //       text: ids,
  //       sourceLang: sourceLang,
  //       destLang: destLang
  //   })

</script>


<div id = "recent_tweets">
  <div id="tweet0"> <br> </div>
  <div id="time0"> </div>
  <br>
  <div id="tweet1"><br> </div>
  <div id="time1"> </div>
  <br>
  <div id="tweet2"><br> </div>
  <div id="time2"> </div>
  <br>
</div>




<div id="root">
  <div id="cap1" style="height: 35px"> <h4>Positive Tweets</h4></div>
  <div id="cap2" style="height: 35px"> <h4>Negative Tweets</h4><</div>
  <div id="map1" style="height: 400px"></div>
  <div id="map2" style="  height: 400px"></div>
</div>


</br>
</br>



<script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>

<script>
    var map = L.map('map1').setView([39, -98], 3);
    var tiles = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        attribution: '',
        id: 'examples.map-20v6611k'
    }).addTo(map);
    //var heat = L.heatLayer(points_neg).addTo(map, {radius: 2050}, {max:6}, {blur: 1000}, {minOpacity:.02} );
    var heat = L.heatLayer(points_pos).addTo(map).setOptions({radius: 30}, {max:1}, {maxZoom:10}, {blur: 1000}, {0.1: 'blue', 0.35: 'lime', .4: 'red'} );
</script>


<script>
    var map = L.map('map2').setView([39, -98], 3);
    var tiles = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        attribution: '<a href="https://www.mapbox.com/about/maps/">Terms and Feedback</a>',
        id: 'examples.map-20v6611k'
    }).addTo(map);
    //var heat = L.heatLayer(points_neg).addTo(map, {radius: 2050}, {max:6}, {blur: 1000}, {minOpacity:.02} );
    var heat = L.heatLayer(points_neg).addTo(map).setOptions({radius: 30}, {max:1}, {maxZoom:10}, {blur: 1000}, {0.1: 'blue', 0.35: 'lime', .4: 'red'} );
</script>




{% endblock %}